* {
  box-sizing: border-box;
  color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background-color: black;

}

main {
  margin-top: 90px;
}

.header {
  height: 90px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  z-index: 100;
}

.hamburger-menu {
  height: 60px;
  margin-left: 20px;
  margin-top: 5px;
}

.logo-image {
  margin-top: 5px;
  width: 280px;
  height: 70px;
}

.shopping-cart {
  height: 55px;
  margin-right: 20px;
  margin-top: 5px;
}

.about-me {
  height: 500px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  align-items: center;
}

.profile-picture {
  height: 400px;
  width: auto;
  border-radius: 200px;
  float: right;
}

.photo-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.photo {
  height: 600px;
  width: auto;
}