* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin-top: 100px;
}

.header {
  height: 90px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  z-index: 100;
}

.logo-image {
  width: 420px;
  height: auto;
}

.photo-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.photo {
  height: 600px;
  width: auto;
}